.container.isnt-finish{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.TopVideo{
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.l-kv {
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 2;
    color: #fff;
    margin-bottom: 238px;
}

.l-kv.is-finish:before {
  opacity: 0;
  -ms-filter: "alpha(opacity=0)";
  filter: alpha(opacity=0);
}

.l-kv:before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: #fff;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

.l-kv.is-finish .l-kv__txt1 h1 img {
    opacity: 1;
    -ms-filter: "alpha(opacity=100)";
    filter: alpha(opacity=100);
}

.l-kv__txt1 h1 img {
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: 1s ease all;
    transition: 1s ease all;
}

.l-kv.is-finish .l-kv__txt1 h1 {
    background-image: none;
}

.l-kv.is-animate2 .l-kv__txt1 h1 {
    bottom: 0;
}

.l-kv.is-load .l-kv__txt1 h1 {
    opacity: 1;
    -ms-filter: "alpha(opacity=100)";
    filter: alpha(opacity=100);
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
}

.l-kv.is-finish .l-kv__txt1 h1 {
    background-image: none;
}
.l-kv.is-animate2 .l-kv__txt1 h1 {
    bottom: 0;
}
.l-kv.is-load .l-kv__txt1 h1 {
    opacity: 1;
    -ms-filter: "alpha(opacity=100)";
    filter: alpha(opacity=100);
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
}
.l-kv__txt1 h1 {
    margin-bottom: 45px;
    -webkit-transition: 1s ease all;
    transition: 1s ease all;
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
    filter: alpha(opacity=0);
    bottom: -41px;
    position: relative;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    background: url(../public/images/logo_black.svg) no-repeat center;
    background-size: contain;
}

.l-kv__txt1 {
    position: relative;
    z-index: 9;
}
.l-kv.is-load .l-kv__txt1 h1 {
  opacity: 1;
  -ms-filter: "alpha(opacity=100)";
  filter: alpha(opacity=100);
  -webkit-filter: blur(0);
  -moz-filter: blur(0);
  -ms-filter: blur(0);
  filter: blur(0);
}
.l-kv.is-finish .l-kv__txt1 h2 {
    color: #fff;
}

.l-kv__txt1 h2 {
    font-size: 20px;
    font-size: 2rem;
    line-height: 190%;
    letter-spacing: 0.06em;
    font-family: fot-tsukuaoldmin-pr6n, "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "リュウミン R-KL", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    font-weight: 700;
    color: #1A1918;
}
.l-kv__txt1 h2 span {
  -webkit-transition: 0.55s all;
  transition: 0.55s all;
  opacity: 0;
  -ms-filter: "alpha(opacity=0)";
  filter: alpha(opacity=0);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.l-kv.is-animate2 .l-kv__txt1 h2 span {
  opacity: 1;
  -ms-filter: "alpha(opacity=100)";
  filter: alpha(opacity=100);
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
}


  .l-kv.is-animate2 .l-kv__txt1 h2 span:nth-child(1) {
    -webkit-transition: all 340ms;
    transition: all 340ms;
    -webkit-transition-delay: 50ms;
    transition-delay: 50ms;
  }
  .l-kv.is-animate2 .l-kv__txt1 h2 span:nth-child(2) {
    -webkit-transition: all 380ms;
    transition: all 380ms;
    -webkit-transition-delay: 100ms;
    transition-delay: 100ms;
  }
  .l-kv.is-animate2 .l-kv__txt1 h2 span:nth-child(3) {
    -webkit-transition: all 420ms;
    transition: all 420ms;
    -webkit-transition-delay: 150ms;
    transition-delay: 150ms;
  }
  .l-kv.is-animate2 .l-kv__txt1 h2 span:nth-child(4) {
    -webkit-transition: all 460ms;
    transition: all 460ms;
    -webkit-transition-delay: 200ms;
    transition-delay: 200ms;
  }
  .l-kv.is-animate2 .l-kv__txt1 h2 span:nth-child(5) {
    -webkit-transition: all 500ms;
    transition: all 500ms;
    -webkit-transition-delay: 250ms;
    transition-delay: 250ms;
  }
  .l-kv.is-animate2 .l-kv__txt1 h2 span:nth-child(6) {
    -webkit-transition: all 540ms;
    transition: all 540ms;
    -webkit-transition-delay: 300ms;
    transition-delay: 300ms;
  }
  .l-kv.is-animate2 .l-kv__txt1 h2 span:nth-child(7) {
    -webkit-transition: all 580ms;
    transition: all 580ms;
    -webkit-transition-delay: 350ms;
    transition-delay: 350ms;
  }
  .l-kv.is-animate2 .l-kv__txt1 h2 span:nth-child(8) {
    -webkit-transition: all 620ms;
    transition: all 620ms;
    -webkit-transition-delay: 400ms;
    transition-delay: 400ms;
  }
  .l-kv.is-animate2 .l-kv__txt1 h2 span:nth-child(9) {
    -webkit-transition: all 660ms;
    transition: all 660ms;
    -webkit-transition-delay: 450ms;
    transition-delay: 450ms;
  }
  .l-kv.is-animate2 .l-kv__txt1 h2 span:nth-child(10) {
    -webkit-transition: all 700ms;
    transition: all 700ms;
    -webkit-transition-delay: 500ms;
    transition-delay: 500ms;
  }
  .l-kv.is-animate2 .l-kv__txt1 h2 span:nth-child(11) {
    -webkit-transition: all 740ms;
    transition: all 740ms;
    -webkit-transition-delay: 550ms;
    transition-delay: 550ms;
  }
  .l-kv.is-animate2 .l-kv__txt1 h2 span:nth-child(12) {
    -webkit-transition: all 780ms;
    transition: all 780ms;
    -webkit-transition-delay: 600ms;
    transition-delay: 600ms;
  }
  .l-kv.is-animate2 .l-kv__txt1 h2 span:nth-child(13) {
    -webkit-transition: all 820ms;
    transition: all 820ms;
    -webkit-transition-delay: 650ms;
    transition-delay: 650ms;
  }
  .l-kv.is-animate2 .l-kv__txt1 h2 span:nth-child(14) {
    -webkit-transition: all 860ms;
    transition: all 860ms;
    -webkit-transition-delay: 700ms;
    transition-delay: 700ms;
  }
  .l-kv.is-animate2 .l-kv__txt1 h2 span:nth-child(15) {
    -webkit-transition: all 900ms;
    transition: all 900ms;
    -webkit-transition-delay: 750ms;
    transition-delay: 750ms;
  }
  .l-kv.is-animate2 .l-kv__txt1 h2 span:nth-child(16) {
    -webkit-transition: all 940ms;
    transition: all 940ms;
    -webkit-transition-delay: 800ms;
    transition-delay: 800ms;
  }
  .l-kv.is-animate2 .l-kv__txt1 h2 span:nth-child(17) {
    -webkit-transition: all 980ms;
    transition: all 980ms;
    -webkit-transition-delay: 850ms;
    transition-delay: 850ms;
  }
  .l-kv.is-animate2 .l-kv__txt1 h2 span:nth-child(18) {
    -webkit-transition: all 1020ms;
    transition: all 1020ms;
    -webkit-transition-delay: 900ms;
    transition-delay: 900ms;
  }
  .l-kv.is-animate2 .l-kv__txt1 h2 span:nth-child(19) {
    -webkit-transition: all 1060ms;
    transition: all 1060ms;
    -webkit-transition-delay: 950ms;
    transition-delay: 950ms;
  }

  
.l-kv.is-finish .l-kv__txt1 h2 span:nth-child(1) {
  -webkit-transition: none;
  transition: none;
}
.l-kv.is-finish .l-kv__txt1 h2 span:nth-child(2) {
  -webkit-transition: none;
  transition: none;
}
.l-kv.is-finish .l-kv__txt1 h2 span:nth-child(3) {
  -webkit-transition: none;
  transition: none;
}
.l-kv.is-finish .l-kv__txt1 h2 span:nth-child(4) {
  -webkit-transition: none;
  transition: none;
}
.l-kv.is-finish .l-kv__txt1 h2 span:nth-child(5) {
  -webkit-transition: none;
  transition: none;
}
.l-kv.is-finish .l-kv__txt1 h2 span:nth-child(6) {
  -webkit-transition: none;
  transition: none;
}
.l-kv.is-finish .l-kv__txt1 h2 span:nth-child(7) {
  -webkit-transition: none;
  transition: none;
}
.l-kv.is-finish .l-kv__txt1 h2 span:nth-child(8) {
  -webkit-transition: none;
  transition: none;
}
.l-kv.is-finish .l-kv__txt1 h2 span:nth-child(9) {
  -webkit-transition: none;
  transition: none;
}
.l-kv.is-finish .l-kv__txt1 h2 span:nth-child(10) {
  -webkit-transition: none;
  transition: none;
}
.l-kv.is-finish .l-kv__txt1 h2 span:nth-child(11) {
  -webkit-transition: none;
  transition: none;
}
.l-kv.is-finish .l-kv__txt1 h2 span:nth-child(12) {
  -webkit-transition: none;
  transition: none;
}
.l-kv.is-finish .l-kv__txt1 h2 span:nth-child(13) {
  -webkit-transition: none;
  transition: none;
}
.l-kv.is-finish .l-kv__txt1 h2 span:nth-child(14) {
  -webkit-transition: none;
  transition: none;
}
.l-kv.is-finish .l-kv__txt1 h2 span:nth-child(15) {
  -webkit-transition: none;
  transition: none;
}
.l-kv.is-finish .l-kv__txt1 h2 span:nth-child(16) {
  -webkit-transition: none;
  transition: none;
}
.l-kv.is-finish .l-kv__txt1 h2 span:nth-child(17) {
  -webkit-transition: none;
  transition: none;
}
.l-kv.is-finish .l-kv__txt1 h2 span:nth-child(18) {
  -webkit-transition: none;
  transition: none;
}
.l-kv.is-finish .l-kv__txt1 h2 span:nth-child(19) {
  -webkit-transition: none;
  transition: none;
}